/* TODO:
 * Give it a UI that looks like it was made by someone who has actually seen things before in their life
 * That more or less sums it up...
 */

.game {
    height: 100vh;
    background-color: white;
    flex-direction: column;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}


.show {
    position: relative;
    display: flex;
}

.buy-property {
    display: flex;
    flex-direction: column;
    max-height: 10em;
    max-width: 400px;
}

.buy-property > div {
    font-size: 1.25em;
    padding: .3em;
    margin: 0;
    border-radius: .1em;
}

.buy-company {
    cursor: pointer;
}

.menu-bar {
    display: flex;
    width: 960px;
    min-height: 3.2em;
    color: #000;
    border-bottom: 1px solid #000;
    width: 100%;
    justify-content: space-between;
    flex-grow: 0;
}

.bar-item {
    position: relative;
    padding: 5px;
    flex-grow: 1;
    border-right: #fff 1px solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.bar-item > h4 {
    padding: .4em;
    margin: .4em;
    text-align: center;
    font-size: 1em;
    position: relative;
}

.bar-item:last-child {
    border-right: none;
}

.expanded-menu {
    box-sizing: border-box;
    display: none;
    max-height: 300px;
    overflow: scroll;
    position: absolute;
    top: calc(1em + 33px);
    left: 0;
    z-index: 7;
    width: 100%;
    padding: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.bar-item:hover .expanded-menu {
    display: block;
}

.sub-bar-item {
    font-size: 1em;
    padding: .2em;
    background-color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    transition: background-color .2s, color .2s;
}

.sub-bar-item:hover {
    background-color: #ddd;
    color: #025A27;
}

.sub-bar-item:last-child {
    border-bottom: none;
}


.next-player {
    height: 100%;
}

.next-player div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.player-properties {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
}

.non-monopoly {
    width: 200px;
    border-right: 1px solid #333;
    color: #fff;
    background-color: #000080;
    flex-grow: 0;
}

.non-monopoly ul {
    padding-left: 0;
    list-style-type: none;
}

.non-monopoly-group {
    margin: .25em 0;
    position: relative;
}

.non-monopoly-prop {
    position: relative;
    padding-right: 1.2em;
    border: 1px solid rgba(0,0,0,0.15);
}

.non-monopoly-prop span {
    position: absolute;
    top: 50%;
    right: .1em;
    transform: translateY(-50%);
}

.non-monopoly-prop span:hover {
    text-shadow: rgba(255,255,255,0.3) -1px 0px 2px, rgba(255,255,255,0.3) 0px -1px 2px, rgba(255,255,255,0.3) 1px 0px 2px, rgba(255,255,255,0.3) 0px 1px 2px;
}

.non-monopoly-arrow {
    width: 1em;
    flex-grow: 0;
    position: relative;
}

.ready {
    cursor: pointer;
}

.ready::after {
    content: '\f061';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 50%;
    right: .5em;
    transform: translateX(50%)translateY(-50%);
}

.ready:hover::after {
        text-shadow: rgba(255,255,255,0.4) -1px 0px 2px, rgba(255,255,255,0.4) 0px -1px 2px, rgba(255,255,255,0.4) 1px 0px 2px, rgba(255,255,255,0.4) 0px 1px 2px;
}

.non-monopoly-arrow i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.monopoly-grid {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.company-positioning {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.company-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.company {
    position: relative;
    padding: .25em;
    cursor: pointer;
    transition: .25s;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #000;
}

.company:hover {
    background-color: #f80;
}

.tooltip {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .25s;
    pointer-events: none;
    z-index: 5;
}

.tooltip.top {
    bottom: 100%;
    top: auto;
}

.active-tooltip .tooltip {
    opacity: 1;
    pointer-events: all;
}

.pointy {
    position: relative;
    left: 50%;
    width: 0px;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-width: 0px 10px 10px 10px;
    border-bottom-color: #ddd;
}

.tooltip.top .pointy {
    border-width: 10px 10px 0px 10px;
    border-bottom-color: auto;
    border-top-color: #ddd;
}

.message-container {
    position: relative;
    overflow: hidden;
    height: 8em;
    width: 220px;
}

.tooltip.top h4 {
    margin: 0;
    text-align: center;
}

.message {
    position: absolute;
    left: 0;
    transform: translateX(100%);
    top: 0;
    width: 200px;
    padding: .6em;
    transition: .3s;
    background-color: #ddd;
    height: 6.8em;
}

.message.first {
    position: relative;
    transform: translateX(-100%);
}

.message.active {
    transform: translateX(0);
}

.message.sever, .message.add {
    display: flex;
    flex-direction: column;
}

.message.sever h3, .message.add h3 {
    margin: .2em 0;
    flex-grow: 0;
    text-align: center;
}

.choose-all-companies {
    flex-grow: 1;
    width: 100%;
    background-color: white;
    border: 1px inset #777;
    overflow: scroll;
}

.company-decision {
    padding: .2em;
    cursor: pointer;
}

.company-decision:hover {
    background-color: #ddd;
}

.tooltip input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    padding: 0;
}

.tooltip button {
    width: 100%;
}

.player-monopolies {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    z-index: 1;
}

.player-monopolies .property {
    max-width: 200px;
    border: 1px solid #333;
    border-width: 0px 1px;
    position: relative;
}

.player-monopolies .property-holder {
    width: 100%;
}

.player-monopolies .property-group {
    border: 1px solid #000;
    margin: 0px 3px;
    display: flex;
    flex-direction: row;
}

.property-holder {
    display: flex;
    flex-direction: column;
}

.property-holder h4 {
    flex-grow: 1;
}

.property-holder p {
    margin: 0;
    text-align: center;
}

.sell {
    box-sizing: border-box;
    background-color: red;
    border-radius: .25em;
    border: none;
    width: calc(100% - .4em);
    padding: .2em;
    margin: .2em;
    color: white;
    flex-grow: 0;
    cursor: pointer;
}

.prop-left {
    width: .5em;
    height: 100%;
}

#monopoly-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: .5s ease-in-out;
    background-color: #ddd;
    border-radius: .2em;
    padding: 1em;
}

.popup.show {
    pointer-events: all;
    opacity: 1;
    display: block;
}

.popup.found .found, .safe {
    display: block;
}

.found, .popup.found .safe {
    display: none;
}

.popup h2 {
    margin-top: 0;
}

.popup img {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.okay {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cost {
    position: fixed;
    bottom: .5em;
    right: .5em;
    padding: 1em;
    border-radius: .5em;
    background-color: #eee;
    opacity: 0;
    pointer-events: none;
    transition: .4s ease-out;
    cursor: pointer;
}

.cost.active {
    opacity: .7;
    pointer-events: all;
}

.cost h3 {
    margin: 0;
}

